#mb{
    width: 100%;
    height: 70vh;
}

#mb .image1{
    background-color: #232323;
    color: #ffffff;
    height: calc(70vh / 2);
    text-align: center;
}

#mb .image2{
    background-color: #3e0154;
    color: #ffffff;
    height: calc(70vh / 2);
    text-align: center;
}

#mb .image3{
    background-color: #0639c4;
    color: #ffffff;
    height: calc(70vh / 2);
    text-align: center;
    background-size: cover;
    position: relative;
}



