/* Mediaquerys para la Galeria de Portafolio y Microservicios */
@media screen and (max-width: 800px){
    .columna{
      flex: 50%;
      max-width: 50%;
    }
  
    .botones{
      font-size: 30px;
    }
  
    .atras{
      left: 5px;
    }
  
    .adelante{
      right: 5px;
    }
  
    .slideshow img{
      width: 98%;
    }
  
   }
  
   @media screen and (max-width: 600px){
     .columna{
       flex: 100%;
       max-width: 100%;
     }
   }